/* MobileMenu.css */
.footer {
  display: none; /* Hide footer by default */
}

@media (max-width: 768px) {
  .footer {
    display: block; /* Show footer in mobile view */
  }
}

.menu {
  mix-blend-mode: difference;
  background-color: transparent;
  color: inherit;
  padding: 30px;
  font: inherit;
  border: none;
  cursor: pointer;
  outline: inherit;
  transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

.menu.black {
  background-color: none;
  color: black;
}

.menu.white {
  background-color: none;
  color: white;
}
