/* Navbar.css */
.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
  padding: 1rem;
  transition: background-color 0.2s ease, color 0.2s ease;
  background-color: rgb(54, 48, 48);
  color: white;
  height: 80px;
  z-index: 1;
}

.navbar.black {
  background-color: rgb(54, 48, 48);
  color: white;
}

.navbar.white {
  background-color: white;
  color: black;
}

.navbar a {
  color: inherit; /* Ensures links inherit the current color */
  text-decoration: none;
  padding: 0.5rem 1rem;
}

.navbar a:hover {
  text-decoration: underline;
}

@media (max-width: 768px) {
  .navbar {
    display: none; /* Show footer in mobile view */
  }
}
